<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<!-- Login User Details -->
		<add key="UserFullName" value="Demo User" />
		<add key="UserEmail" value="demo@demo.in" />
		<add key="Password" value="demo" />
	</appSettings>

	<!-- Connection Strings of Project -->
	<connectionStrings>
		<add name="StorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=jicodotnetstorage;AccountKey=CvdJlG8RxyGLg+xHlEelhVEXHy6ORThf/wjq5eLgwha3wiPXuK8p3kHen8//JaNqz1nqHjxHf/Yt+AStT3d7hQ==;EndpointSuffix=core.windows.net"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1" />
	</system.web>
	<system.webServer>
		<staticContent>
			<!-- Remove any potential Web Server Settings for Web Fonts to be used -->
			<remove fileExtension=".eot"/>
			<remove fileExtension=".otf"/>
			<remove fileExtension=".ttf"/>
			<remove fileExtension=".woff"/>
			<remove fileExtension=".woff2"/>
			<!-- Define Web Font Mime Types that will be used -->
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
			<mimeMap fileExtension=".otf" mimeType="application/font-sfnt"/>
			<mimeMap fileExtension=".ttf" mimeType="application/font-sfnt"/>
			<mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
			<mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
			<!-- Define SVG Mime Type (could be used for Images or Fonts) -->
			<remove fileExtension=".svg"/>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>